*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 5px 0;
    background: black;
    overflow: hidden;

}
p {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 0 auto;

}
.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
}
.card {
    position: relative;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 5px;
}
.card, .back, .front {
    height: 150px;
    width: 150px;
}
.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.front {
    background: black url('img/baksida_gold4.jpg') no-repeat center center / contain;
}
.back {
    -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    border: solid 4px #2b2b2b;
}
.selected {
    -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}
.match .front {
    background: none !important;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 15em;
    opacity: 0.1;
    padding-top: 0;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    z-index: 1;
    position: absolute;
    top: 0;
}

/*
* Text in HTML
*/
.overlayh1 {
  pointer-events: none;
}
.steps {
    color: white;
    display: inline-block;
    margin: 0 1rem;
}
.timer {
    color: white;
    display: inline-block;
    margin: 0 1rem;
}

/*
*   Pop out window
*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(199, 89, 37);
    transition: opacity 500ms;
    visibility: hidden;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popout {
    margin: 70px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 1s ease-in-out;
    z-index: 100;
}
.popout h2 {
    font-family: 'Amatic SC', cursive;
    margin-top: center;
    color: black;
    font-size: 50px;
}
.popout .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.popout .close:hover {
    color: red;
}
.innerPop {
    max-height: 30%;
	overflow: auto;
	text-align: center;
}
#reload {
  padding: 15px;
  margin: 15px auto;
}
.show {
    visibility: visible !important;
    }
.close {
  font-family: Webdings;
}
/*
*   Responsive
*/
@media only screen and (max-width: 768px) {
     .card, .back, .front {
        height: 90px;
        width: 90px;
    }
}
@media only screen and (max-width: 500px) {
    .card, .back, .front {
        height: auto;
        width: 0;
    }
    body {
    overflow-y: auto;
    }
    h1 {
    font-size: 7em;
    }

}
